@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

.container{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  color: #fff;
  width: 50%;
  font-family: "Roboto", sans-serif;
}